#inner {
    margin-top: 50px;
    direction: rtl;
    .history-item {
        margin: 30px 35px;
        p {
      font-size: 14px;
      line-height: 32px;
      text-align: justify;
      margin-bottom: 15px;
    }
  }
}
